@page
@model Sistemadebusqueda2.Pages.EliminarPaisModel
@{
}
<h3>Eliminar Pais</h3>
<hr />

<div class="card">
    <div class="card-body">
        <p>¿Esta seguro de eliminar el pais : @Model.Nombre?</p>
        <form method="post">
            <a asp-page="Paises" class="btn btn-secondary">Volver</a>
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
    </div>
</div>